{
    "parser": "babel-eslint",
    "extends": [
        "airbnb-base"
    ],
    "env": {
      "browser" : true
    },
    "globals": {
      "$"      : false,
      "Vivus"  : false,
      "window" : false
    }
}
