<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="author" content="theone" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="个人简介,吴斌杰,js工程师" />
    <meta name="keyword" content="个人简介,吴斌杰,js工程师,nodejs" />
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div id='staticLogo' class='static'>
    <div class="theoneLogo">
         <div id="theoneSvg">
          <svg width="618px" height="152px" viewBox="0 0 618 152"  xmlns="http://www.w3.org/2000/svg" id="vivusTheOne" >
          <path d="m 125.10188,65.503491 c 0.0953,0.953417 0.14301,1.859163 0.14301,2.717238 l 0,2.574225 c 0,3.718325 -0.90575,7.293638 -2.71724,10.725939 -1.71615,3.336959 -4.19503,6.340221 -7.43665,9.009788 -3.14627,2.574225 -6.91227,4.624071 -11.29799,6.149538 -4.385715,1.525467 -9.200468,2.2882 -14.444261,2.2882 -7.818017,0 -13.68153,-1.763821 -17.590539,-5.291463 -3.813667,-3.527642 -5.7205,-8.104042 -5.7205,-13.729201 0,-4.576401 1.525467,-9.295814 4.5764,-14.158239 3.146275,-4.862425 8.294726,-9.295813 15.445352,-13.300163 7.150625,-4.004351 16.589448,-7.293639 28.316478,-9.867864 11.72703,-2.669567 26.26663,-4.00435 43.61882,-4.00435 5.33913,0 10.20156,0.143013 14.58727,0.429038 4.38572,0.286025 8.15172,0.429037 11.29799,0.429037 2.76491,0 5.05311,-0.143012 6.8646,-0.429037 1.90683,-0.286025 3.52764,-0.429038 4.86243,-0.429038 1.1441,0 2.19286,0.381367 3.14627,1.1441 0.95342,0.667392 1.43013,1.66848 1.43013,3.003263 0,0.858075 -0.28603,1.573138 -0.85808,2.145188 -0.47671,0.476708 -1.38245,0.810404 -2.71724,1.001087 -1.33478,0.190683 -3.14627,0.333696 -5.43447,0.429038 l -8.43774,0 c -6.67392,0 -12.25141,1.191771 -16.73246,3.575313 -4.38572,2.2882 -8.48541,5.815842 -12.29908,10.582925 -3.81367,4.671743 -7.77035,10.582927 -11.87004,17.733552 -4.09969,7.055284 -9.20047,15.302339 -15.30234,24.741165 -2.09751,3.24161 -4.76708,6.91227 -8.0087,11.01196 -3.14627,4.09969 -6.91227,7.96103 -11.29799,11.58402 -4.38571,3.62298 -9.39115,6.67391 -15.01631,9.1528 -5.625159,2.47888 -11.965381,3.71832 -19.020664,3.71832 -2.669567,0 -5.482147,-0.3337 -8.437739,-1.00109 -2.955592,-0.57205 -5.67283,-1.52546 -8.151713,-2.86025 -2.383542,-1.43012 -4.385717,-3.28928 -6.006525,-5.57748 -1.525467,-2.2882 -2.288201,-5.10078 -2.288201,-8.43774 0,-2.09752 0.57205,-3.86134 1.716151,-5.29146 1.239441,-1.52547 2.955591,-2.2882 5.14845,-2.2882"
           fill="none" data-duration="30" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"></path>
                       <path
                          d="M 203.40265,35.805947 C 183.7457,67.30362 172.76947,86.657464 142.0137,136.45199 c 1.90684,-2.38354 21.54882,-27.47408 24.12305,-30.52501 2.57423,-3.14628 5.33914,-6.101874 8.29473,-8.866781 3.05093,-2.764908 6.24488,-5.100779 9.58183,-7.007613 3.33696,-1.906833 6.67392,-2.86025 10.01088,-2.86025 5.81584,0 8.72376,2.907921 8.72376,8.723763 0,1.525467 -0.57205,3.336958 -1.71615,5.434471 -1.04875,2.09752 -2.43121,4.33805 -4.14736,6.72159 -1.62081,2.28821 -3.38463,4.62408 -5.29146,7.00762 -1.90683,2.38354 -3.71833,4.71941 -5.43448,7.00761 -1.62081,2.19286 -3.00326,4.29038 -4.14736,6.29255 -1.04876,1.90683 -1.57314,3.52764 -1.57314,4.86243 0,1.04875 0.28603,1.9545 0.85808,2.71723 0.66739,0.66739 1.52546,1.00109 2.57422,1.00109 2.19286,0 4.5764,-0.66739 7.15063,-2.00217 2.66957,-1.43013 5.3868,-3.24162 8.15171,-5.43448 2.86025,-2.2882 5.67283,-4.81475 8.43774,-7.57966 2.76491,-2.76491 5.29146,-5.48214 7.57966,-8.15171 2.38354,-2.76491 4.48106,-5.33914 6.29255,-7.72268 1.90683,-2.47889 3.28929,-4.48106 4.14737,-6.00653"
                          fill="none"
                          data-duration="30"
                          stroke="#FFFFFF"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                       <path
                          d="m 213.70606,112.8112 c 3.14627,-0.66739 14.22703,-2.49712 18.32672,-3.8319 4.09969,-1.43013 7.91336,-3.00327 11.441,-4.71942 3.62299,-1.81149 6.67392,-3.766 9.1528,-5.863511 2.47889,-2.192859 3.71833,-4.433388 3.71833,-6.721588 0,-1.906833 -0.66739,-3.336958 -2.00218,-4.290375 -1.33478,-1.048759 -3.19394,-1.573138 -5.57749,-1.573138 -4.29037,0 -8.77143,1.287113 -13.44317,3.861338 -4.67175,2.574225 -8.96212,5.815842 -12.87113,9.724851 -3.90901,3.909013 -7.15062,8.199383 -9.72485,12.871123 -2.47888,4.5764 -3.71832,8.96212 -3.71832,13.15715 0,3.81367 1.09643,6.76926 3.28928,8.86678 2.19286,2.00217 5.29147,3.00326 9.29582,3.00326 3.24161,0 6.5309,-0.57205 9.86786,-1.71615 3.4323,-1.23944 6.81693,-2.86025 10.15389,-4.86242 3.33696,-2.09752 6.53091,-4.43339 9.58184,-7.00762 3.14627,-2.66957 6.05419,-5.3868 8.72376,-8.15171 2.76491,-2.86025 5.19612,-5.7205 7.29364,-8.58075"
                          fill="none"
                          data-duration="30"
                          stroke="#FFFFFF"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>

                       <path
                          d="m 354.16323,52.775381 c 0,-1.71615 -0.19068,-3.384629 -0.57205,-5.005438 -0.28602,-1.71615 -0.85807,-3.193946 -1.71615,-4.433388 -0.85807,-1.334783 -2.04984,-2.383542 -3.57531,-3.146275 -1.52547,-0.762733 -3.48086,-1.07883 -5.86351,-1.1441 l -4.1588,-0.03064 c -4.02642,0.639069 -8.14028,2.318837 -12.43065,4.607037 -4.19503,2.192859 -8.48541,5.053109 -12.87113,8.580751 -4.38572,3.527642 -8.6761,7.579663 -12.87113,12.156063 -4.09969,4.576401 -7.77034,9.534168 -11.01196,14.873302 -3.24162,5.243792 -5.86352,10.773609 -7.86569,16.589451 -1.90683,5.720496 -2.86025,11.536336 -2.86025,17.447526 0,7.34131 1.85916,13.20482 5.57749,17.59054 3.81367,4.29037 9.4865,6.43556 17.01849,6.43556 4.29037,0 8.67609,-1.00109 13.15715,-3.00326 4.48106,-2.09752 8.77144,-4.67175 12.87113,-7.72268 4.09969,-3.14627 7.86568,-6.57857 11.29798,-10.2969 3.52765,-3.71832 6.29746,-7.24596 9.08375,-11.29799 2.69095,-3.76599 4.88381,-7.245962 7.07667,-11.154971 2.19286,-3.909009 4.14736,-8.008701 5.86351,-12.299076 1.81149,-4.290375 3.28929,-8.580751 4.43339,-12.871126 1.1441,-4.385717 1.71615,-8.485409 1.71615,-12.299076 0,-7.245967 -1.33478,-12.728114 -4.00435,-16.446439 -2.66957,-3.718325 -6.91227,-5.577488 -12.72811,-5.577488 -2.47889,0 -4.81476,0.524379 -7.00762,1.573137 -2.09751,0.953417 -4.96618,3.202371 -6.91648,5.200334 -2.52234,2.856038 -4.19082,5.23958 -5.52561,7.813805 -1.33478,2.478883 -2.43121,4.957767 -3.28928,7.436651 -0.85808,2.478883 -1.4778,4.957767 -1.85917,7.43665 -0.38137,2.383542 -0.57205,4.624071 -0.57205,6.721588 0,7.055284 1.62081,13.490847 4.86243,19.306689 3.24161,5.720501 8.0087,10.439912 14.91009,14.671052 2.51568,1.27554 6.63713,2.63346 8.82999,3.20551 2.19285,0.57205 4.81475,0.85808 7.86568,0.85808 1.81149,0 3.71833,-0.23836 5.7205,-0.71507 2.00218,-0.47671 4.00436,-1.1441 6.00653,-2.00217 2.00217,-0.85807 3.90901,-1.90683 5.7205,-3.14628 1.90683,-1.23944 3.57531,-2.62189 5.00544,-4.147358"
                          fill="none"
                          data-duration="30"
                          stroke="#FFFFFF"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                       <path
                          d="m 397.94299,85.712407 -36.41722,50.063763 17.13506,-22.36349 c 2.00217,-2.38354 4.33804,-5.14845 7.00761,-8.29472 2.66957,-3.24162 5.52982,-6.292555 8.58075,-9.152804 3.05093,-2.86025 6.19721,-5.243792 9.43883,-7.150625 3.33696,-2.002175 6.62625,-3.003263 9.86786,-3.003263 2.86025,0 5.05311,0.810404 6.57858,2.431213 1.62081,1.525467 2.43121,3.527642 2.43121,6.006525 0,1.525467 -0.57205,3.336959 -1.71615,5.434476 -1.04876,2.097518 -2.38354,4.338048 -4.00435,6.721588 -1.62081,2.38354 -3.38463,4.81475 -5.29146,7.29364 -1.90683,2.47888 -3.67066,4.86242 -5.29147,7.15062 -1.62081,2.19286 -3.00326,4.24271 -4.14736,6.14954 -1.04876,1.81149 -1.57314,3.33696 -1.57314,4.5764 0,2.66957 1.33478,4.00435 4.00435,4.00435 3.05093,0 6.29255,-1.00109 9.72485,-3.00326 3.43231,-2.09752 7.532,-5.57749 12.29908,-10.43991 1.90683,-1.90683 3.81367,-4.00435 5.7205,-6.29255 2.00217,-2.2882 3.90901,-4.52873 5.7205,-6.72159 1.81149,-2.2882 3.4323,-4.43339 4.86243,-6.43557 1.52547,-2.00217 2.71724,-3.67065 3.57531,-5.005433"
                          fill="none"
                          data-duration="30"
                          stroke="#FFFFFF"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>

                       <path
                          d="m 437.14229,112.37319 c 3.14628,-0.6674 13.4099,-2.05911 17.50959,-3.39389 4.09969,-1.43013 7.91335,-3.00327 11.441,-4.71942 3.62298,-1.81149 6.67391,-3.766 9.1528,-5.863511 2.47888,-2.192859 3.71832,-4.433388 3.71832,-6.721588 0,-1.906833 -0.66739,-3.336958 -2.00217,-4.290375 -1.33479,-1.048759 -3.19395,-1.573138 -5.57749,-1.573138 -4.29037,0 -8.77143,1.287113 -13.44318,3.861338 -4.67174,2.574225 -8.96211,5.815842 -12.87112,9.724851 -3.90901,3.909013 -7.15063,8.199383 -9.72485,12.871123 -2.47889,4.5764 -3.71833,8.96212 -3.71833,13.15715 0,3.81367 1.09643,6.76926 3.28929,8.86678 2.19286,2.00217 5.29146,3.00326 9.29581,3.00326 3.24162,0 6.53091,-0.57205 9.86786,-1.71615 3.43231,-1.23944 6.81694,-2.86025 10.15389,-4.86242 3.33696,-2.09752 6.53091,-4.43339 9.58184,-7.00762 3.14627,-2.66957 6.05419,-5.3868 8.72376,-8.15171 2.76491,-2.86025 5.19613,-5.7205 7.29364,-8.58075"
                          fill="none"
                          data-duration="30"
                          stroke="#FFFFFF"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>

                       <path
                          d="m 494.03364,129.27969 q 1.03666,0 1.79687,0.76021 0.76022,0.76022 0.76022,1.79688 0,1.03666 -0.76022,1.79687 -0.76021,0.76022 -1.79687,0.76022 -1.03665,0 -1.79688,-0.76022 -0.76021,-0.76021 -0.76021,-1.79687 0,-1.03666 0.76021,-1.79688 0.76023,-0.76021 1.79688,-0.76021 z"
                          fill="none"
                          data-duration="30"
                          stroke="#FFFFFF"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>

                       <path
                          d="m 519.68605,101.38249 c 2.81679,2.975 31.28418,-21.240237 31.11526,-27.51306 -0.49121,-1.663136 -2.54595,-0.37528 -4.51907,3.320313 -5.2438,7.531993 -14.39187,20.626957 -18.5736,26.442537 -3.67528,5.11126 -6.92485,10.77431 -8.28085,14.62894 -2.19286,3.4323 -3.49523,9.12828 -3.49523,9.12828 -1.0395,4.4718 -0.64888,3.81829 -0.64888,5.05774 0,2.47888 3.14953,3.13238 5.1517,3.13238 1.90683,0 4.09969,-0.66739 6.57858,-2.00217 2.57423,-1.43013 5.24379,-3.24162 8.0087,-5.43448 2.76491,-2.19286 5.52981,-4.67174 8.29472,-7.43665 2.76491,-2.76491 5.33914,-5.48214 7.72268,-8.15171 2.47889,-2.76491 4.62407,-5.38681 6.43556,-7.86569 1.90683,-2.57423 3.28929,-4.67174 4.14737,-6.292551 M 551.53617,65.074455 c -0.0532,3.822924 -0.36754,4.482112 -0.0532,2.455737"
                          fill="none"
                          data-duration="30"
                          stroke="#FFFFFF"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>

                       <path
                          d="m 599.17941,98.110344 c -0.19068,-3.622983 -1.38245,-6.578575 -3.57531,-8.866776 m 0,0 c -2.09752,-2.2882 -5.10078,-3.4323 -9.00979,-3.4323 -3.33696,0 -6.67392,0.667392 -10.01088,2.002175 -3.24161,1.239442 -6.34022,2.955592 -9.29581,5.148451 -2.95559,2.097517 -5.7205,4.528729 -8.29473,7.293636 -2.47888,2.66957 -4.67174,5.43448 -6.57857,8.29473 -1.81149,2.76491 -3.24162,5.52981 -4.29038,8.29472 -1.04875,2.76491 -1.57313,5.19613 -1.57313,7.29364 0,4.00435 1.04876,7.1983 3.14627,9.58184 2.09752,2.38354 5.19612,3.57531 9.29581,3.57531 4.48106,0 8.86678,-1.1441 13.15716,-3.4323 4.29037,-2.2882 8.19938,-5.14845 11.72702,-8.58075 3.62299,-3.4323 6.72159,-7.1983 9.29581,-11.29799 2.57423,-4.09969 4.33805,-7.96103 5.29147,-11.58401 l 0.28602,0 c 1.04876,1.62081 2.52656,3.05093 4.43339,4.29037 1.90683,1.1441 4.19503,1.71615 6.8646,1.71615"
                          fill="none"
                          data-duration="30"
                          stroke="#FFFFFF"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
          </svg>
        </div>
      </div>
  </div>

  <!-- 指定id:fullpage -->
  <div id='fullpage'>
    <div class="section bg-purple" id='sectionAll'>
      <div class="container firstPage">
        <h1>
         没有最好的语言,只有最好的 coder
        </h1>
        <p class='text-right'>
          —— 吴斌杰个人简介
        </p>
        <div class="row">
          <div class="col-xs-4">
            <!-- 左侧logo  -->
            <div class="row logo-left">
              <div class="col-xs-12">
                <img src="/assets/svgs/logo/react.svg" class="img-rounded svgimg animated" data-animate='topLeft'>
              </div>
              <div class="col-xs-12">
                <img src="/assets/svgs/logo/mongodb.svg" class="img-rounded svgimg animated" data-animate='left'>
              </div>
              <div class="col-xs-12">
                <img src="/assets/svgs/logo/redux.svg" class="img-rounded svgimg animated" data-animate='bottomLeft'>
              </div>

            </div>
          </div>
          <div class="col-xs-4">
            <!-- 中间logo -->
            <div class="row middle">
              <div class="col-xs-12">
                <img src="/assets/svgs/logo/docker.svg" class="img-rounded svgimg animated" data-animate='top'>
              </div>
              <div class="col-xs-12">
                <h2 class='text-center'>TheOne</h2>
              </div>

              <div class="col-xs-12">
                 <img src="/assets/svgs/logo/mysql.svg" class="img-rounded svgimg animated" data-animate='bottom'>
              </div>

            </div>
          </div>
          <div class="col-xs-4">
            <!-- 右侧logo -->
            <div class="row logo-right">
              <div class="col-xs-12">
                <img src="/assets/svgs/logo/nodejs.svg" class="img-rounded svgimg animated" data-animate='topRight'>
              </div>
              <div class="col-xs-12">
                <img src="/assets/svgs/logo/graphql.svg" class="img-rounded svgimg animated" data-animate='right'>
              </div>
              <div class="col-xs-12">
                <img src="/assets/svgs/logo/loopback.svg" class="img-rounded svgimg animated" data-animate='bottomRight'>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="section bg-sky-blue" id='sectionInfo'>
      <div class="slide">
        <div class="intro">

          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-ms-12 col-md-6">
                <section>
                  <h2>项目一: TheOne.io</h2>
                  <p class='lead'> <a target="_target" href="http://theone.io">theone.io</a>:个人博客/笔记 v2.0</p>
                  <blockquote>
                    <p>制作初衷:
                      <span class="text-muted">
                        在上个 Angular 版本之后, 发现一些不足和瑕疵, 在 React 学习以及 React-Native 开始之前, 有必要练练手.
                      </span>
                    </p>
                  </blockquote>
                  <ul>
                    <li>
                      服务器端 Loopback/Graphql + Docker 部署
                    </li>
                    <li>
                      前端框架 React.js + material-ui
                    </li>
                    <li>
                      构建工具 Webpack + Yarn 等
                    </li>
                  </ul>
                </section>
              </div>
              <div class="visible-md visible-lg col-md-6">
                <div class="imgsContainer">
                  <div class="row">
                    <div class="col-md-4">
                      <img src="/assets/svgs/logo/nodejs-icon.svg" class="svgimg animated long">
                    </div>
                    <div class="col-md-4">
                      <img src="/assets/svgs/logo/loopback.svg" class="svgimg animated long delay-1s">
                    </div>
                    <div class="col-md-4">
                      <img src="/assets/svgs/logo/graphql.svg" class="svgimg animated long delay-2s">
                    </div>
                    <div class="col-md-4">
                      <img src="/assets/svgs/logo/react.svg" class="svgimg animated long delay-1s">
                    </div>
                    <div class="col-md-4">
                      <img src="/assets/svgs/logo/material-ui.svg" class="svgimg animated long delay-2s">
                    </div>
                    <div class="col-md-4">
                      <img src="/assets/svgs/logo/redux.svg" class="svgimg animated long delay-3s">
                    </div>
                    <div class="col-md-4">
                      <img src="/assets/svgs/logo/yarn.svg" class="svgimg animated long delay-2s">
                    </div>
                    <div class="col-md-4">
                      <img src="/assets/svgs/logo/webpack.svg" class="svgimg animated long delay-3s">
                    </div>
                    <div class="col-md-4">
                      <img src="/assets/svgs/logo/babeljs.svg" class="svgimg animated long delay-4s">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="slide">
       <div class="intro">
         <div class="container">
           <div class="row">
             <div class="col-xs-12">
               <h2>项目二: Loopback 教程翻译</h2>
               <p class='lead'> <a target="_target" href="https://theone1006.gitbooks.io/loopback-docs-chinese/content/">Loopback 文档翻译</a></p>
            </div>
          </div>
        </div>
         <blockquote>
       </div>
     </div>
    </div>
    <div class="section bg-leaf-green" id='resume'>
      <!-- 简历信息 -->
      <div class="vertical-center">
        <div class='welcome welcome-top animated long'>
          <img src="/assets/svgs/welcome/top.svg" alt="welcom-top">
        </div>
        <div class='welcome welcome-bottom animated long'>
          <img src="/assets/svgs/welcome/bottom.svg" alt="welcom-bottom">
        </div>

        <div class="container">
          <div class="row">

            <div class="col-xs-12">
              <section>
                <h2> 个人信息 </h2>
                <dl class="dl-horizontal-forever">
                  <dt>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名:</dt>
                  <dd>吴斌杰</dd>

                  <dt>职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业:</dt>
                  <dd>JS工程师/全栈工程师</dd>

                  <dt>出生年月:</dt>
                  <dd>1990年10月</dd>

                  <dt>发展方向:</dt>
                  <dd>
                    Node.js / 前端JS / React / SVG
                  </dd>

                  <dt>爱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;好:</dt>
                  <dd>
                    诗词, 思考, LOL, 等一切不甘寂寞的事情.
                  </dd>

                  <dt>备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注:</dt>
                  <dd>
                    梦想阅尽天下名码,而心中无码。
                  </dd>

                </dl>
              </section>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="section bg-origin" id='contact'>
      <div id='tree'>
      </div>

        <div class="vertical-center">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h2>
                  联系方式
                </h2>
                <div class="row">
                  <div class="col-xs-12">

<pre class="prettyprint linenums lang-js">
const contactInformation = {
  phone: 1381〇55陆55⑨,
  qq: '297190869',
  email:"wubinjie12345@gmail.com"
};
function callMe () {
  try {
    connectByPhone(contactInformation.phone);
    connectByQQ(contactInformation.qq);
    connectByEmail(contactInformation.email);
  } throw (err) {
    // no~ try again and again
    callMe();
  }
}
</pre>
            </div>
            <div class="col-xs-12 center-block">
    <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=xaSjo6SmsYW0tOumqqg" class="am-icon-btn am-secondary am-icon-qq" title='qq' alt='qq'></a>

    <a target="_blank" href="https://github.com/TheOne1006" class="am-icon-btn am-icon-github" title='github' alt='github'></a>

    <a target="_blank" href="https://www.facebook.com/profile.php?id=100006478224154" class="am-icon-btn am-icon-facebook am-primary" title='facebook' alt='facebook'></a>

    <a target="_blank" href="https://plus.google.com/115178860716802723353" class="am-icon-btn am-icon-google-plus am-danger" title='google-plus' alt='google-plus'></a>

    <a target="_blank" href="https://twitter.com/theone12138" class="am-icon-btn am-icon-twitter am-secondary" title='twitter' alt='twitter'></a>

    <!--
    <a target="_blank" href="http://weibo.com/u/2897931631" class="am-icon-btn am-icon-weibo am-warning" title='weibo' alt='weibo'></a> -->



            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>
  </div>
</body>
</html>
