<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-ms-12 col-md-6">
        <section>
          <div>
            <img style="width: 250px" src="http://poster-factory.theone.io/images/poster-factory.png" class="svgimg animated long">
          </div>
          <h2>海报工厂 <small class="text-desc">php</small></h2>
          <p class='lead'> 个人独立开发，通过 api 方式快速生成的海报图片。 </p>
          <p>
            <a target="_target" href="http://poster-factory.theone.io" class="btn btn-success">点我查看</a>
          </p>
          <blockquote>
            <p>
              功能特点:
            </p>
          </blockquote>
          <ol>
            <li>
              后台编辑海报, 支持 canvas 预览与 php 渲染预览
            </li>
            <li>
              canvas 支持中文字体显示（提取常用文字）
            </li>
            <li>
              图片cdn服务
            </li>
            <li>
              图片缓存
            </li>
          </ol>
        </section>
      </div>
      <div class="visible-md visible-lg col-md-6">
        <div class="imgsContainer">
          <div class="row">
            <div class="col-md-6">
              <img src="<%= require('./assets/svgs/logo/laravel-str.svg') %>" class="svgimg animated long">
            </div>
            <div class="col-md-6">
              <img src="<%= require('./assets/svgs/logo/vscode.svg') %>" class="svgimg animated long delay-1s">
            </div>
            <div class="col-md-6">
              <img src="<%= require('./assets/svgs/logo/mysql.svg') %>" class="svgimg animated long delay-2s">
            </div>
            <div class="col-md-6">
              <img src="<%= require('./assets/svgs/logo/php.svg') %>" class="svgimg animated long delay-1s">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
