<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-ms-12 col-md-6">
        <section>
          <h2> TCC 服务
            <small class="text-desc">nodejs</small>
          </h2>
          <p class='lead'> 基于 tcc 分布式事务理解，开发的分布式事务处理服务。 </p>
          <p>
            <a target="_target" href="https://github.com/TheOne1006/tcc-node" class="btn btn-success">github地址</a>
          </p>
          <blockquote>
            <p>
              功能特点:
            </p>
          </blockquote>
          <ol>
            <li>
              基于 thirft 的 RPC
            </li>
            <li>
              支持 scoket 和 http 方式调用
            </li>
            <li>
              自定义重试次数
            </li>
          </ol>
        </section>
      </div>
      <div class="visible-md visible-lg col-md-6">
        <div class="imgsContainer">
          <div class="row">
            <div class="col-md-6">
              <img src="<%= require('./assets/svgs/logo/nodejs.svg') %>" class="svgimg animated long">
            </div>
            <div class="col-md-6">
              <img src="<%= require('./assets/svgs/logo/mysql.svg') %>" class="svgimg animated long delay-2s">
            </div>
            <div class="col-md-6">
              <img src="<%= require('./assets/svgs/logo/chai.svg') %>" class="svgimg animated long delay-1s">
            </div>
            <div class="col-md-6">
              <img src="<%= require('./assets/svgs/logo/redis.svg') %>" class="svgimg animated long delay-1s">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
