/**
 * 加载字体
 */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*="am-icon-"] {
  display: inline-block;
}
[class*="am-icon-"]:before {
  display: inline-block;
  font: normal normal normal 1.6rem/1 "FontAwesome", sans-serif;
  /*font-weight: normal; // 2
  font-style: normal; // 2
  vertical-align: baseline; // 3
  line-height: 1; // 4*/
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.am-icon-qq:before {
  content: "\f1d6";
}

.am-icon-wechat:before,
.am-icon-weixin:before {
  content: "\f1d7";
}

.am-icon-weibo:before {
  content: "\f18a";
}

.am-icon-github:before {
  content: "\f09b";
}

.am-icon-hotel:before,
.am-icon-bed:before {
  content: "\f236";
}

.am-icon-envelope:before {
  content: "\f0e0";
}

.am-icon-linkedin:before {
  content: "\f0e1";
}

.am-icon-twitter-square:before {
  content: "\f081";
}
.am-icon-facebook-square:before {
  content: "\f082";
}

.am-icon-twitter:before {
  content: "\f099";
}
.am-icon-facebook-f:before,
.am-icon-facebook:before {
  content: "\f09a";
}

.am-icon-google-plus-square:before {
  content: "\f0d4";
}
.am-icon-google-plus:before {
  content: "\f0d5";
}


.am-icon-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 48px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  border-radius: 50%;
  background-color: #eeeeee;
  color: #555555;
  text-align: center;
  /**
   * Hover
   * 1. Apply hover style also to focus state
   * 2. Remove default focus style
   */
  /* Active */
}
.am-icon-btn.am-primary,
.am-icon-btn.am-secondary,
.am-icon-btn.am-success,
.am-icon-btn.am-warning,
.am-icon-btn.am-danger {
  color: #ffffff;
}
.am-icon-btn.am-primary {
  background-color: #0e90d2;
}
.am-icon-btn.am-secondary {
  background-color: #3bb4f2;
}
.am-icon-btn.am-success {
  background-color: #5eb95e;
}
.am-icon-btn.am-warning {
  background-color: #f37b1d;
}
.am-icon-btn.am-danger {
  background-color: #dd514c;
}
.am-icon-btn-sm {
  width: 32px;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
}
.am-icon-btn-lg {
  width: 64px;
  height: 64px;
  font-size: 28px;
  line-height: 64px;
}

/* Common styles
* --------------------------------------- */
.static {
  position: fixed;
}
#staticLogo {
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100px;
    z-index: 100;
    overflow: visible;
}

#staticLogo .theoneLogo {
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;

  transform-origin:0 0;
  -webkit-transform-origin:0 0;
  -moz-transform-origin:0 0;
  -o-transform-origin:0 0;

}

#staticLogo.active .theoneLogo {
  -webkit-transform: scale(0.5,0.5);
  -moz-transform: scale(0.5,0.5);
  -ms-transform: scale(0.5,0.5);
  transform: scale(0.5,0.5);
}

#tree {
  z-index: 99;
  top: 0%;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: visible;
  /*border: 5px solid red;*/
  position: absolute;
}

.bg-purple {
  background: #563d7c;
}

.bg-leaf-green {
  background: #5cb85c;
}

.bg-sky-blue {
  background: #5bc0de;
}

.bg-origin {
  background: #f0ad4e;
}

/********************************/
.text-desc {
  color: #e8e8e8;
}


/**
 * section all
 */
#sectionAll {
  color: #cdbfe3;
}

#sectionAll .svgimg {
  height: 66px;
  max-height: 200px;
  width:100%;
  padding: 10px;
}

.section {
  padding-top:60px;
}

.firstPage {
  padding-top:100px;
}

#sectionInfo {
  color: #fff;
}

.imgsContainer {
  margin-top:50px;
  height: 400px;
  width: 400px;
}
.imgsContainer .svgimg {
  width: 100px;
  height: 100px;
}

/**
 * Info
 */
#sectionInfo li {
  padding: 5px;
  font-size: 120%;
}

#sectionInfo p span {
  font-size: 80%;
}


/**
 * resume
 */
.dl-horizontal-forever dt {
    clear: left;
    float: left;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60px;
}

.dl-horizontal-forever dd {
    margin-left: 80px;
}

#resume {
  color: #CCE9CC;
}

.vertical-center {
  position: absolute;
  top: 50%;
  margin-top: -150px;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

#resume .welcome {
  position: absolute;
  top: 0px;
  height: 300px;
  width: 100%;
  z-index: 10;
  overflow: hidden;
}

#contact {
  color: #FBE6C8;
}

#contact .vertical-center {
  margin-top: -200px;
  height: 400px;
}

#contact .vertical-center pre {
  font-size: 80%;
  opacity: 0.8;
}


/**
 * xs 小屏
 */
@media screen and (max-width: 767px) {
  #staticLogo .theoneLogo {
    -webkit-transform: scale(0.5,0.5);
    -moz-transform: scale(0.5,0.5);
    -ms-transform: scale(0.5,0.5);
    transform: scale(0.5,0.5);
  }

  #staticLogo.active .theoneLogo {
    -webkit-transform: scale(0.3,0.3);
    -moz-transform: scale(0.3,0.3);
    -ms-transform: scale(0.3,0.3);
    transform: scale(0.3,0.3);
  }


  #sectionAll .svgimg {
    padding: 0px;
  }

  #sectionAll h2 {
    font-size: 24px;
  }

  .firstPage {
    padding-top:60px;
  }

  .section {
    padding-top:30px;
  }


/* welcome */
  #resume .welcome {
    margin-left: -10%;
    padding: 15px;
    width: 115%;
  }

  #resume .welcome img {
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
    -moz-transform-origin:0 0;
    -o-transform-origin:0 0;

    -webkit-transform: scale(0.7,0.7);
    -moz-transform: scale(0.7,0.7);
    -ms-transform: scale(0.7,0.7);
    transform: scale(0.7,0.7);
  }

  .am-icon-btn {
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
  }

/*contact*/
 #contact .vertical-center {
  z-index:99;
 }

 #tree {
  left: 0%;
  width: 100%;
 }


}

/**
 * animate
 */
.animated {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.animated.infinite {
 -webkit-animation-iteration-count: infinite;
 -moz-animation-iteration-count: infinite;
 -o-animation-iteration-count: infinite;
 animation-iteration-count: infinite;
}

.animated.hinge {
 -webkit-animation-duration: 2s;
 -moz-animation-duration: 2s;
 -o-animation-duration: 2s;
 animation-duration: 2s;
}
.animated.long {
  -webkit-animation-duration: 3.5s;
  -moz-animation-duration: 3.5s;
  -o-animation-duration: 3.5s;
  animation-duration: 3.5s;
}



.moveDown {
  -webkit-transform: translate3d(0, 200%, 0);
  -moz-transform: translate3d(0, 200%, 0);
  -ms-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
}


.moveUp {
  -webkit-transform: translate3d(0, -200%, 0);
  -moz-transform: translate3d(0, -200%, 0);
  -ms-transform: translate3d(0, -200%, 0);
  transform: translate3d(0, -200%, 0);
}

.moveRight {
  -webkit-transform: translate3d(200%, 0, 0);
  -moz-transform: translate3d(200%, 0, 0);
  -ms-transform: translate3d(200%, 0, 0);
  transform: translate3d(200%, 0, 0);
}

.moveLeft {
  -webkit-transform: translate3d(-200%, 0, 0);
  -moz-transform: translate3d(-200%, 0, 0);
  -ms-transform: translate3d(-200%, 0, 0);
  transform: translate3d(-200%, 0, 0);
}

.moveDownLeft {
  -webkit-transform: translate3d(-200%, 200%, 0);
  -moz-transform: translate3d(-200%, 200%, 0);
  -ms-transform: translate3d(-200%, 200%, 0);
  transform: translate3d(-200%, 200%, 0);
}

.moveUpLeft {
  -webkit-transform: translate3d(-200%, -200%, 0);
  -moz-transform: translate3d(-200%, -200%, 0);
  -ms-transform: translate3d(-200%, -200%, 0);
  transform: translate3d(-200%, -200%, 0);
}

.moveDownRight {
  -webkit-transform: translate3d(200%, 200%, 0);
  -moz-transform: translate3d(200%, 200%, 0);
  -ms-transform: translate3d(200%, 200%, 0);
  transform: translate3d(200%, 200%, 0);
}

.moveUpRight {
  -webkit-transform: translate3d(200%, -200%, 0);
  -moz-transform: translate3d(200%, -200%, 0);
  -ms-transform: translate3d(200%, -200%, 0);
  transform: translate3d(200%, -200%, 0);
}

@-webkit-keyframes flashAndtada {
  0%, 25%, 50% {
    opacity: 1;
  }

  15%, 35% {
    opacity: 0;
  }

  51% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  55%, 60% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    -moz-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  65%, 75%, 85%, 95% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -moz-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  70%, 80%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -moz-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes flashAndtada {
  0%, 25%, 50% {
    opacity: 1;
  }

  15%, 35% {
    opacity: 0;
  }

  55% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  58%, 60% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    -moz-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  65%, 75%, 85%, 95% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -moz-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  70%, 80%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -moz-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.flashAndtada {
  -webkit-animation-name: flashAndtada;
  -moz-animation-name: flashAndtada;
  -ms-animation-name: flashAndtada;
  animation-name: flashAndtada;
}

.welcome-animate-top {
  -webkit-transform: translate3d(175px, -300px, 0);
  -moz-transform: translate3d(175px, -300px, 0);
  -ms-transform: translate3d(175px, -300px, 0);
  transform: translate3d(175px, -300px, 0);
  transition-delay: 0.2;
}

.welcome-animate-bottom {
  -webkit-transform: translate3d(-175px, 300px, 0);
  -moz-transform: translate3d(-175px, 300px, 0);
  -ms-transform: translate3d(-175px, 300px, 0);
  transform: translate3d(-175px, 300px, 0);
  transition-delay: 0.25;
}


/**
 * delay
 */
.delay-1s {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

.delay-2s {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}

.delay-3s {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
}

.delay-4s {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}


/**
 * print
 */
 /* desert scheme ported from vim to google prettify */
 pre.prettyprint { display: block; background-color: #333 }
 pre .nocode { background-color: none; color: #000 }
 pre .str { color: #ffa0a0 } /* string  - pink */
 pre .kwd { color: #f0e68c; font-weight: bold }
 pre .com { color: #87ceeb } /* comment - skyblue */
 pre .typ { color: #98fb98 } /* type    - lightgreen */
 pre .lit { color: #cd5c5c } /* literal - darkred */
 pre .pun { color: #fff }    /* punctuation */
 pre .pln { color: #fff }    /* plaintext */
 pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
 pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
 pre .atv { color: #ffa0a0 } /* attribute value - pink */
 pre .dec { color: #98fb98 } /* decimal         - lightgreen */

 /* Specify class=linenums on a pre to get line numbering */
 ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
 /*li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }*/
 /* Alternate shading for lines */

 @media print {
   pre.prettyprint { background-color: none }
   pre .str, code .str { color: #060 }
   pre .kwd, code .kwd { color: #006; font-weight: bold }
   pre .com, code .com { color: #600; font-style: italic }
   pre .typ, code .typ { color: #404; font-weight: bold }
   pre .lit, code .lit { color: #044 }
   pre .pun, code .pun { color: #440 }
   pre .pln, code .pln { color: #000 }
   pre .tag, code .tag { color: #006; font-weight: bold }
   pre .atn, code .atn { color: #404 }
   pre .atv, code .atv { color: #060 }
 }
